@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-VariableFont_wdth\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #faf8f5;
    font-family: 'Roboto';
    overflow-x: hidden;
}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu>a {
    text-decoration: none;
    color: black;
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero .apresentacao-lanchonete{
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
}

.hero .titulo-hero{
    font-size: 80px;
    color: red;
    font-weight: bold;
}

.hero .paragrafo-apresentacao{
    color: rgb(85, 85, 85);
    font-size: 20px;
}

.hero .botoes-hero{
    display: flex;
    justify-content: center;
    gap: 13px;
}

.hero .botoes-hero .botao-hero{
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: transparent;
    color: red;
    font-weight: 500;
    transition: 0.2s;
}

.hero .botoes-hero .botao-hero:hover{
    background-color: red;
    color: white;
    transition: 0.2s;
}

.sobre{
    min-height: 80vh;
    padding: 0; 
    display: flex;
    align-items: center;
}


.sobre { padding: 40px 0; } 
.row.align-items-stretch { align-items: stretch; } 

.caixa-sobre{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.caixa-grande {
  height: 100%;
  min-height: 520px; 
}

.right-stack {
  height: 100%;     
  min-height: 520px; 
}

.caixa-pequena {
  flex: 1 1 0;       
  min-height: 0;     
}

.text-caixa-titulo{
    font-size: 50px;
}
.paragrafo-caixa{
    font-size: 30px;
}

.text-caixa p,
.text-caixa h2 {
    margin: 0;
}

.lista-produtos{
    min-height: 70vh;
}

.lista-produtos .cardapio{
    text-align: center;
    padding: 20px;
    color: #b21819;
    font-weight: bold;
}

.lista-produtos .opcoes-cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    list-style: none;
    width: 100%;
}

.active{
    border-bottom: 3px solid red;
}

.card-produto{
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    flex: 1;

    transition: 0.3s;  
    transform: scale(1); 
    cursor: pointer;
}

.card-produto:hover{
    transform: scale(1.05);  /* aumenta um pouco ao passar o mouse */
}

.card-body-produto{
    flex-grow: 1; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    transition: 0.3s;
}


.card-body-produto > h3{
    font-size: 22px;
    
}

.card-body-produto > span{
    font-size: 18px;
}

.card-produto > img{
    width: 100%;
    height: 180px;      
    object-fit: contain; 
}

.card-footer-produto .card-botao{
    border: none;
    background-color: red;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    transition: 0.2s;
}

.card-footer-produto .card-botao:hover{
    background-color: rgb(172, 0, 0);
    transition: 0.2S;
}

.rodape{
    background: linear-gradient(90deg, #c40000, #ff0000);
    padding: 40px 0 20px 0;
    color: white;
    margin-top: 50px;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.2);
}

.linha-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-col h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-col ul{
    list-style: none;
    padding: 0;
}

.footer-col ul li{
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-col p{
    max-width: 250px;
}

.social a{
    display: block;
    color: white;
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.social a:hover{
    text-decoration: underline;
    transform: translateX(5px);
}

.direitos{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.9;
}
